
.background {
    background-image: url(../assets/brown/background/brown-background.png); /* imagem das ondas azuis */
}


.caixa_formulario .input_user {
    background: url(../assets/brown/icons/brown-user.png) no-repeat left / 1.0em;
    padding-left: 28px;
    outline: none;
    border-color: #552f1780;
    /* ÍCONE: url, não repetir a imagem, alinhado a esquerda / tamanho do ícone */
}

.caixa_formulario .input_email {
    background: url(../assets/brown/icons/brown-card.png) no-repeat left / 1.0em;
    padding-left: 28px;
    outline: none;
    border-color: #552f1780;
    
    /* ÍCONE: url, não repetir a imagem, alinhado a esquerda / tamanho do ícone */
}

.caixa_formulario .input_pass {
    background: url(../assets/brown/icons/brown-badge.png) no-repeat left / 1.2em;
    padding-left: 28px;
    outline: none;
    border-color: #552f1780;
    /* ÍCONE: url, não repetir a imagem, alinhado a esquerda / tamanho do ícone */
}

.caixa_formulario .input_pass_2 {
    background: url(../assets/brown/icons/brown-call.png) no-repeat left / 1.2em;
    padding-left: 28px;
    outline: none;
    border-color: #552f1780;
    /* ÍCONE: url, não repetir a imagem, alinhado a esquerda / tamanho do ícone */
}

.caixa_formulario h1 {
    color: var(--hot-brown);
    display: flex;
    justify-content: center;
}

.caixa_formulario button {
    background-color: var(--baby-brown);
    cursor: pointer;
    border-radius: 135px;
    margin-top: 10px;
}
.caixa_formulario{
    display: flex;
    justify-content: center;
    width: 70%;
}
.caixa_formulario p{
    color: var(--hot-brown);
    text-align: center;
    margin-top: 10px;
}
.caixa_formulario b{
    cursor: pointer;
}
.caixa_formulario .voltar{
    margin-top: 20px;
    font-size: 14px;
    font-family: arial;
}
.caixa_formulario .voltar:hover{
    cursor: pointer;
    text-decoration: underline;
}
.box_cadastro {

    background-color: rgba(223, 144, 80, 0.15);
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width:50%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}